body{
    margin: 0;
    padding: 0;
}
.div-1{
    
text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}
.div-2 img{
    width: 200px;
    height: 400px;
    gap: 10px;
    padding: 10px;
}
    
   .div-2{
    display: flex;
    justify-content: center;
    gap: 5px;
    
   }
   .div-2__img1,.div-2__img2,.div-2__img3{
    
    border: solid black 3px;
    padding: 5px;
    margin-top: 10px;
   }
.div-2 button{
    background-color: black;
    color: white;
    margin-left: 55px;
}
.div-2__img1{
    gap: 0;
}
      
.container{
    margin-top: 30px;
    text-align: center;
    background-color: black;
    color: white;
    
}
    .container label{
        width: 100px;
        display: inline-block;
    }
    .container button{
        width: 273px;
        background-color: yellow;
        color: black;
    }